{% extends "base.html" %}

{% block head %}
{{ super() }}
    <title>LaCraftsmen</title>
    <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/hero.css" />
{% endblock %}

{% block content %}
{{ super() }}
    <div class="hero-image" style="background-image: url('{{ SITEURL }}/theme/images/hero.png');">
        <div class="hero-text">
            <h1>LaCraftsmen</h1>
            <h3>General and Residential Construction</h3>
        </div>
    </div>
{% endblock %}

{% block footer %}
{{ super() }}
{% endblock %}